In [1]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
def format_json(data):
    init = pd.DataFrame.from_dict(data).loc[0][0]
    for obj in init:
        if type(init[obj])!=list or len(init[obj])!=1:
            init[obj] = [init[obj]]
    df = pd.DataFrame.from_dict(init)
    for i in range(1,pd.DataFrame.from_dict(data).shape[0]):
        curr = pd.DataFrame.from_dict(data).loc[i][0]
        for obj in curr:
            if type(curr[obj])!=list or len(curr[obj])!=1:
                curr[obj] = [curr[obj]]
        df_curr = pd.DataFrame.from_dict(curr)
        df = df.append(df_curr)
    return df

In [3]:
with open("HistoryEnvironmentalHealth.json", "r", encoding='utf8') as read_file:
    data = json.load(read_file)

In [4]:
history = format_json(data)
history

,objectId,location,yearsLivedinthecommunity,yearsLivedinThisHouse,waterAccess,typeofWaterdoyoudrink,latrineAccess,clinicAccess,conditionoFloorinyourhouse,conditionoRoofinyourhouse,...,timesperweektrashcollected,wheretrashleftbetweenpickups,client,createdAt,updatedAt,numberofIndividualsLivingintheHouse,numberofChildrenLivinginHouseUndertheAgeof5,houseownership,bathroomAccess,stoveType
0,SEf21H2I2g,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",1-2,1-2,None,None,None,None,None,None,...,None,None,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-08T00:00:29.250Z,2018-08-08T00:00:29.250Z,NaN,NaN,NaN,NaN,NaN
0,BrW8mWBRQ7,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",lessThan1,lessThan1,None,None,None,None,None,None,...,None,None,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-13T16:59:29.858Z,2018-08-13T16:59:29.858Z,NaN,NaN,NaN,NaN,NaN
0,YWH1RtjHc1,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",5-10,5-10,2-3AWeek,bottled,Y,Y,cementPoor,poor,...,2,calle,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-13T18:03:42.354Z,2018-08-13T18:03:42.354Z,NaN,NaN,NaN,NaN,NaN
0,Ej4DOenEtZ,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",moreThan10,moreThan10,2-3AWeek,tap,Y,Y,cementWorking,None,...,3,Al camion de la basura,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-13T18:26:24.407Z,2018-08-13T18:26:24.407Z,NaN,NaN,NaN,NaN,NaN
0,yn3yUTJp9z,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",moreThan10,moreThan10,4-6AWeek,bottled,Y,Y,cementWorking,working,...,2,Camion de la basura,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-13T18:48:18.483Z,2018-08-13T18:48:18.483Z,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,dtUjUPp882,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",5_10,lessThan1,Never,bottled,None,Y,cementWorking,working,...,1,En la calle principal,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:29:31.759Z,2020-10-08T20:29:31.759Z,5,1,owned,Y,stoveTop
0,DI9d8BnWVP,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",5_10,lessThan1,Never,bottled,None,Y,cementWorking,working,...,1,En la calle principal,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:35:08.360Z,2020-10-08T20:35:08.360Z,2,None,rented,Y,stoveTop
0,cclhZ88xpS,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",5_10,5_10,Never,bottled,None,Y,cementWorking,working,...,2,En la calle principal,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:41:00.083Z,2020-10-08T20:41:00.083Z,4,2,owned,Y,stoveTop
0,M4fsLZhanE,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",5_10,5_10,Never,bottled,None,Y,cementWorking,working,...,2,En la calle principal,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:41:00.325Z,2020-10-08T20:41:00.325Z,4,2,owned,Y,stoveTop
0,1NFhopXn7F,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",1_2,1_2,Never,bottled,None,Y,cementWorking,working,...,1,En el frente de la casa,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:46:22.384Z,2020-10-08T20:46:22.384Z,4,2,owned,Y,stoveTop

In [5]:
history.columns

Index(['objectId', 'location', 'yearsLivedinthecommunity',
       'yearsLivedinThisHouse', 'waterAccess', 'typeofWaterdoyoudrink',
       'latrineAccess', 'clinicAccess', 'conditionoFloorinyourhouse',
       'conditionoRoofinyourhouse', 'medicalproblemswheredoyougo',
       'dentalproblemswheredoyougo', 'biggestproblemofcommunity',
       'timesperweektrashcollected', 'wheretrashleftbetweenpickups', 'client',
       'createdAt', 'updatedAt', 'numberofIndividualsLivingintheHouse',
       'numberofChildrenLivinginHouseUndertheAgeof5', 'houseownership',
       'bathroomAccess', 'stoveType'],
      dtype='object')

In [6]:
history_drop = list(history.isnull().sum()[history.isnull().sum(axis=0)>0.8*history.shape[0]].index)
history_drop

[]

In [7]:
history.isnull().sum(axis=0)

objectId                                          0
location                                          0
yearsLivedinthecommunity                         23
yearsLivedinThisHouse                            32
waterAccess                                     126
typeofWaterdoyoudrink                            68
latrineAccess                                  2995
clinicAccess                                    107
conditionoFloorinyourhouse                      134
conditionoRoofinyourhouse                       168
medicalproblemswheredoyougo                     197
dentalproblemswheredoyougo                      999
biggestproblemofcommunity                       275
timesperweektrashcollected                      170
wheretrashleftbetweenpickups                    397
client                                            0
createdAt                                         0
updatedAt                                         0
numberofIndividualsLivingintheHouse             367
numberofChildrenLivinginHouseUndertheAgeof5    2943
houseownership                                  313
bathroomAccess                                 3923
stoveType                                      4729
dtype: int64

In [8]:
pointers = []
for h in history.client.values:
    pointers.append(h['objectId'])
history['objectId'] = pointers

In [9]:
history

,objectId,location,yearsLivedinthecommunity,yearsLivedinThisHouse,waterAccess,typeofWaterdoyoudrink,latrineAccess,clinicAccess,conditionoFloorinyourhouse,conditionoRoofinyourhouse,...,timesperweektrashcollected,wheretrashleftbetweenpickups,client,createdAt,updatedAt,numberofIndividualsLivingintheHouse,numberofChildrenLivinginHouseUndertheAgeof5,houseownership,bathroomAccess,stoveType
0,Psto9poSCx,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",1-2,1-2,None,None,None,None,None,None,...,None,None,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-08T00:00:29.250Z,2018-08-08T00:00:29.250Z,NaN,NaN,NaN,NaN,NaN
0,y6DJO1kLFl,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",lessThan1,lessThan1,None,None,None,None,None,None,...,None,None,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-13T16:59:29.858Z,2018-08-13T16:59:29.858Z,NaN,NaN,NaN,NaN,NaN
0,sdPbSYrGCW,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",5-10,5-10,2-3AWeek,bottled,Y,Y,cementPoor,poor,...,2,calle,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-13T18:03:42.354Z,2018-08-13T18:03:42.354Z,NaN,NaN,NaN,NaN,NaN
0,GiArohoFUo,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",moreThan10,moreThan10,2-3AWeek,tap,Y,Y,cementWorking,None,...,3,Al camion de la basura,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-13T18:26:24.407Z,2018-08-13T18:26:24.407Z,NaN,NaN,NaN,NaN,NaN
0,rnNw8AxEix,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",moreThan10,moreThan10,4-6AWeek,bottled,Y,Y,cementWorking,working,...,2,Camion de la basura,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-13T18:48:18.483Z,2018-08-13T18:48:18.483Z,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,uKN9cHxFDl,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",5_10,lessThan1,Never,bottled,None,Y,cementWorking,working,...,1,En la calle principal,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:29:31.759Z,2020-10-08T20:29:31.759Z,5,1,owned,Y,stoveTop
0,pmE94lhtoq,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",5_10,lessThan1,Never,bottled,None,Y,cementWorking,working,...,1,En la calle principal,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:35:08.360Z,2020-10-08T20:35:08.360Z,2,None,rented,Y,stoveTop
0,Tn1ljw7wVy,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",5_10,5_10,Never,bottled,None,Y,cementWorking,working,...,2,En la calle principal,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:41:00.083Z,2020-10-08T20:41:00.083Z,4,2,owned,Y,stoveTop
0,Tn1ljw7wVy,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",5_10,5_10,Never,bottled,None,Y,cementWorking,working,...,2,En la calle principal,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:41:00.325Z,2020-10-08T20:41:00.325Z,4,2,owned,Y,stoveTop
0,QpmL0Z6uFm,"{'__type': 'GeoPoint', 'latitude': 0, 'longitu...",1_2,1_2,Never,bottled,None,Y,cementWorking,working,...,1,En el frente de la casa,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:46:22.384Z,2020-10-08T20:46:22.384Z,4,2,owned,Y,stoveTop

In [10]:
lat = []
lon = []
for h in history.location.values:
    lat.append(h['latitude'])
    lon.append(h['longitude'])
history['latitude'] = lat
history['longitude'] = lon
history = history.drop('location',axis=1)
history

,objectId,yearsLivedinthecommunity,yearsLivedinThisHouse,waterAccess,typeofWaterdoyoudrink,latrineAccess,clinicAccess,conditionoFloorinyourhouse,conditionoRoofinyourhouse,medicalproblemswheredoyougo,...,client,createdAt,updatedAt,numberofIndividualsLivingintheHouse,numberofChildrenLivinginHouseUndertheAgeof5,houseownership,bathroomAccess,stoveType,latitude,longitude
0,Psto9poSCx,1-2,1-2,None,None,None,None,None,None,None,...,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-08T00:00:29.250Z,2018-08-08T00:00:29.250Z,NaN,NaN,NaN,NaN,NaN,0,0
0,y6DJO1kLFl,lessThan1,lessThan1,None,None,None,None,None,None,None,...,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-13T16:59:29.858Z,2018-08-13T16:59:29.858Z,NaN,NaN,NaN,NaN,NaN,0,0
0,sdPbSYrGCW,5-10,5-10,2-3AWeek,bottled,Y,Y,cementPoor,poor,hospital,...,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-13T18:03:42.354Z,2018-08-13T18:03:42.354Z,NaN,NaN,NaN,NaN,NaN,0,0
0,GiArohoFUo,moreThan10,moreThan10,2-3AWeek,tap,Y,Y,cementWorking,None,Centro medico titi,...,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-13T18:26:24.407Z,2018-08-13T18:26:24.407Z,NaN,NaN,NaN,NaN,NaN,0,0
0,rnNw8AxEix,moreThan10,moreThan10,4-6AWeek,bottled,Y,Y,cementWorking,working,Hospital,...,"{'__type': 'Pointer', 'className': 'SurveyData...",2018-08-13T18:48:18.483Z,2018-08-13T18:48:18.483Z,NaN,NaN,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,uKN9cHxFDl,5_10,lessThan1,Never,bottled,None,Y,cementWorking,working,Hospital,...,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:29:31.759Z,2020-10-08T20:29:31.759Z,5,1,owned,Y,stoveTop,0,0
0,pmE94lhtoq,5_10,lessThan1,Never,bottled,None,Y,cementWorking,working,Hospital,...,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:35:08.360Z,2020-10-08T20:35:08.360Z,2,None,rented,Y,stoveTop,0,0
0,Tn1ljw7wVy,5_10,5_10,Never,bottled,None,Y,cementWorking,working,Clinica,...,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:41:00.083Z,2020-10-08T20:41:00.083Z,4,2,owned,Y,stoveTop,0,0
0,Tn1ljw7wVy,5_10,5_10,Never,bottled,None,Y,cementWorking,working,Clinica,...,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:41:00.325Z,2020-10-08T20:41:00.325Z,4,2,owned,Y,stoveTop,0,0
0,QpmL0Z6uFm,1_2,1_2,Never,bottled,None,Y,cementWorking,working,Hospital,...,"{'__type': 'Pointer', 'className': 'SurveyData...",2020-10-08T20:46:22.384Z,2020-10-08T20:46:22.384Z,4,2,owned,Y,stoveTop,0,0

In [11]:
history.columns

Index(['objectId', 'yearsLivedinthecommunity', 'yearsLivedinThisHouse',
       'waterAccess', 'typeofWaterdoyoudrink', 'latrineAccess', 'clinicAccess',
       'conditionoFloorinyourhouse', 'conditionoRoofinyourhouse',
       'medicalproblemswheredoyougo', 'dentalproblemswheredoyougo',
       'biggestproblemofcommunity', 'timesperweektrashcollected',
       'wheretrashleftbetweenpickups', 'client', 'createdAt', 'updatedAt',
       'numberofIndividualsLivingintheHouse',
       'numberofChildrenLivinginHouseUndertheAgeof5', 'houseownership',
       'bathroomAccess', 'stoveType', 'latitude', 'longitude'],
      dtype='object')

In [12]:
history['yearsLivedinthecommunity'].value_counts()

moreThan10    5107
5_10           763
3_4            469
1_2            465
lessThan1      330
5-10           142
1-2            128
3-4            119
Name: yearsLivedinthecommunity, dtype: int64

In [13]:
history['yearsLivedinThisHouse'].value_counts()

moreThan10    3970
5_10          1006
lessThan1      719
1_2            693
3_4            605
1-2            174
3-4            174
5-10           173
Name: yearsLivedinThisHouse, dtype: int64

In [14]:
history['waterAccess'].value_counts()

everyday    3596
2-3AWeek    2089
Never        620
1AWeek       478
4-6AWeek     467
1AMonth      170
Name: waterAccess, dtype: int64

In [15]:
history['typeofWaterdoyoudrink'].value_counts()

bottled     5839
tap         1488
filtered     151
Name: typeofWaterdoyoudrink, dtype: int64

In [16]:
history['latrineAccess'].value_counts()

Y    3627
N     924
Name: latrineAccess, dtype: int64

In [17]:
history['clinicAccess'].value_counts()

Y    5269
N    2170
Name: clinicAccess, dtype: int64

In [18]:
history['conditionoFloorinyourhouse'].value_counts()

cementWorking    4373
cementPoor       2365
dirtPoor          386
dirtWorking       288
Name: conditionoFloorinyourhouse, dtype: int64

In [19]:
history['conditionoRoofinyourhouse'].value_counts()

working    5158
poor       2220
Name: conditionoRoofinyourhouse, dtype: int64

In [20]:
history['medicalproblemswheredoyougo'].value_counts()[:35]

Hospital                      1165
Al hospital                    635
Hospital                       366
Al musa                        247
Al musa                        227
Hospital musa                  198
Clinica                        155
A la unap                      148
A ramon santana                130
Hospital Dr Antonio Musa       120
Van a ramon santana             97
Hospital musa                   86
A la unap                       84
Van a monte cristy              83
Al policlinico                  79
Al hospital                     74
no                              71
Policlinico                     62
Hospital de Ramón Santana       57
Policlinica                     53
Secadora                        46
Unap Batey Alemán               45
Clinica franklin peña           44
Unap santa fe                   44
Constanza                       42
Va a el musa                    38
A consuelo                      38
Hospital ramon santana          37
Unap Batey Esperanza            36
hospital                        35
Unap Batey El Soco              34
El cercado                      34
Unap Santa fe                   33
A ramón Santana                 32
Clínica Franklin Peña           29
Name: medicalproblemswheredoyougo, dtype: int64

In [21]:
med_location = []
for m in history['medicalproblemswheredoyougo']:
    m = str(m).lower()
    if 'musa' in m:
        med_location.append("Al Musa Hospital")
    elif 'ramon' in m or 'santana' in m:
        med_location.append("Ramon Santana Hospital")
    elif 'hospital' in m:
        med_location.append("Other Hospital")
    elif 'clinic' in m:
        med_location.append("Clinic")
    else:
        med_location.append("Other")
pd.Series(med_location).value_counts()
history['medicalproblemswheredoyougo'] = med_location

In [22]:
history['medicalproblemswheredoyougo'].value_counts()

Other Hospital            2616
Other                     2513
Al Musa Hospital          1083
Clinic                     777
Ramon Santana Hospital     557
Name: medicalproblemswheredoyougo, dtype: int64

In [23]:
history['dentalproblemswheredoyougo'].value_counts()[:40]

Hospital                      975
Hospital                      304
Al dentista                   266
Al musa                       227
No va                         221
Al hospital                   209
Dentista                      204
Constanza                     194
Al musa                       180
Clinica                       177
No va                         133
Van a ramon santana           119
Hospital Dr Antonio Musa      104
Ninguna                        95
A ramon santana                93
no                             90
Van al musa                    90
Al hospital                    73
Unap Santa fe                  60
Va aramon santana              60
Hospital de Ramón Santana      57
Al medico publico              56
Hospital musa                  54
No                             47
Dentista privado               41
Hospital musa                  41
Ramon santana                  39
A ramón Santana                38
Unap santa fe                  38
Va al musa                     36
A consuelo                     35
Unaps de santa fe              33
Clínica Franklin Peña          31
Hospital ramon santana         28
No ha ido                      28
A una clínica                  28
Ninguno                        27
Hospital alejo martines        26
Clinica privada                26
Clínica dental privada         25
Name: dentalproblemswheredoyougo, dtype: int64

In [24]:
dent_location = []
for m in history['dentalproblemswheredoyougo']:
    m = str(m).lower()
    if 'musa' in m:
        dent_location.append("Al Musa Hospital")
    elif 'ramon' in m or 'santana' in m:
        dent_location.append("Ramon Santana Hospital")
    elif 'hospital' in m:
        dent_location.append("Other Hospital")
    elif 'dentist' in m or 'dentista' in m:
        dent_location.append("Dentist")
    elif 'clinic' in m: 
        dent_location.append("Clinic")
    else:
        dent_location.append("Other")
pd.Series(dent_location).value_counts()
history['dentalproblemswheredoyougo'] = dent_location

In [25]:
history['dentalproblemswheredoyougo'].value_counts()

Other                     3441
Other Hospital            1730
Al Musa Hospital           815
Dentist                    594
Ramon Santana Hospital     530
Clinic                     436
Name: dentalproblemswheredoyougo, dtype: int64

In [26]:
history['biggestproblemofcommunity'].value_counts()[:30]

El agua                               524
La basura                             277
La calle                              238
La basura                             206
La carretera                          185
El agua                               167
Las calles                            163
Las calles                            144
Desempleo                             102
La calles                              97
Salud                                  95
La carretera                           95
Salud                                  94
La delincuencia                        75
la basura                              64
Ek despleo                             60
Falta de agua                          53
La luz                                 51
La calle                               49
Agua                                   47
ninguno                                40
No hay                                 39
Ninguno                                39
Reparación de viviendas                38
No bay junta d vesino y las calles     36
Arreglo de cosinas                     34
La luz                                 32
Arreglo de casa                        32
no hay empleos                         31
Delincuencia                           29
Name: biggestproblemofcommunity, dtype: int64

In [27]:
comm_prob = []
for m in history['biggestproblemofcommunity']:
    m = str(m).lower()
    if 'agua' in m:
        comm_prob.append("Water")
    elif 'basura' in m:
        comm_prob.append("Garbage")
    elif 'salud' in m:
        comm_prob.append("Health")
    elif 'calle' in m or 'carre' in m:
        comm_prob.append("Roads")
    elif 'empleo' in m:
        comm_prob.append("Unemployment")
    elif 'delinc' in m:
        comm_prob.append("Delinquents")
    elif 'luz' in m:
        comm_prob.append("Lighting")
    else:
        comm_prob.append("Other")
pd.Series(comm_prob).value_counts()
history['biggestproblemofcommunity'] = comm_prob

In [28]:
history['biggestproblemofcommunity'].value_counts()

Other           2783
Roads           1644
Water           1627
Garbage          774
Unemployment     217
Health           207
Lighting         150
Delinquents      144
Name: biggestproblemofcommunity, dtype: int64

In [29]:
history['timesperweektrashcollected'].value_counts()[:30]

1                       4033
2                        827
0                        766
Se guema                 243
Semanal                  170
Una vez a la semana      127
                          93
No se guema               90
No se recoge              77
3                         65
Nunca                     56
Nunca. Se quema           48
7                         37
Viene aveses              36
El camion la recoge       26
15                        26
No biene el camion        25
Una vez a la semana       21
Una ves a la semana       19
Nunca                     14
5                         14
1 bes por semana          14
Cada 15 dias              13
10-15                     12
1 vez a la semana         12
1 por semana              12
 Una ves a la semana      11
Aveses                    11
No se recoge              10
2 veces                   10
Name: timesperweektrashcollected, dtype: int64

In [30]:
trash = []
for m in history['timesperweektrashcollected']:
    m = str(m).lower()
    try: 
        trash.append(int(m))
    except: 
        if '1' in m or 'una' in m or 'semanal' in m:
            trash.append(1)
        elif '2' in m:
            trash.append(2)
        elif '3' in m:
            trash.append(3)
        elif '4' in m:
            trash.append(4)
        elif '5' in m:
            trash.append(5)
        elif '6' in m:
            trash.append(6)
        elif '7' in m:
            trash.append(7)
        elif 'no' in m or 'none' in m or 'nunca' in m:
            trash.append(0)
        elif 'guema' in m or 'quema' in m:
            trash.append("Burned")
        else: 
            trash.append("Unknown")
pd.Series(trash).value_counts()
history['timesperweektrashcollected'] = trash

In [31]:
history['wheretrashleftbetweenpickups'].value_counts()[:30]

En la calle                 574
Frente                      351
La calle                    253
En el patio                 248
En la calle principal       234
En la calle                 209
Afuera                      191
En saco                     177
Calle                       162
Frente de la casa           156
En el frente                130
Orilla de la calle          128
La quemo                    128
Calle                       114
Se quema                    108
Se guema                    107
En saco frente a la casa     99
En el monte                  85
En el mont                   81
Frente de la casa            81
Frente a la casa             79
En la cera                   78
Se quema                     74
Monte, se quema              68
A fuera de la casa           66
Al frente de la casa         65
Calle Principal              62
Frente a la casa             61
La cera                      60
La quemamos                  59
Name: wheretrashleftbetweenpickups, dtype: int64

In [32]:
trash_left = []
for t in history['wheretrashleftbetweenpickups']:
    t = str(t).lower()
    if 'calle' in t:
        trash_left.append("street")
    elif 'frent' in t or 'fuer' in t or 'patio' in t:
        trash_left.append("outside house")
    elif 'quem' in t or 'guem' in t: 
        trash_left.append("burned")
    elif 'cer' in t or 'sera' in t:
        trash_left.append("sidewalk")
    else: 
        trash_left.append("other")
pd.Series(trash_left).value_counts()[:30]
history['wheretrashleftbetweenpickups'] = trash_left

In [33]:
history['client'].value_counts()[:30]

TypeError: unhashable type: 'dict'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1653, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'dict'

{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'RbCtiBzREs'}    96
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'zACqgOIoWO'}    83
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'HFTunOijAN'}    81
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'sGZ4Gjg7Dz'}    62
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'Ak1gzRq2mu'}    60
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'RTw08OLqnd'}    56
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'A7gmfLj4m2'}    45
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'jNTWHG9IEp'}    36
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'Km6eme7f3f'}    34
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'r40A9T7bMX'}    31
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'WYQ6MF6rR3'}    27
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'hQtvYxJele'}    27
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'iy1WD6cUTH'}    26
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'APzrvFcVh9'}    26
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'KlJ6b2AL9z'}    26
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'hd29jVaMGG'}    24
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'Yu0WM0nNoA'}    22
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'YnnoJhnn7m'}    21
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'MUDWLYIJqx'}    20
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'aVzACFFwRf'}    20
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': '3ZImO89OwN'}    20
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'rcFEddQPGx'}    19
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': '9gu0rm1utl'}    19
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'DWLieqFD7c'}    18
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'T8KObMx51a'}    17
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'XkWk3xpID1'}    17
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'Fjtt4QCOi5'}    16
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': '4ugIyaG340'}    16
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'BbzgDdO8lw'}    16
{'__type': 'Pointer', 'className': 'SurveyData', 'objectId': 'DbV7bH7wmb'}    16
Name: client, dtype: int64

In [34]:
client = []
for c in history['client']:
    client.append(c['objectId'])
history['objectId'] = client
history.drop('client',axis=1,inplace=True)

In [35]:
history['numberofIndividualsLivingintheHouse'].value_counts()[:20]

4                1328
3                1327
2                1220
5                 895
1                 760
6                 464
7                 215
5 personas        169
8                 161
Dos personas      101
Tres personas      54
4 personas         50
10                 46
Tres               45
9                  35
7 personas         33
3 personas         33
6 personas         26
9 personas         20
8persona           19
Name: numberofIndividualsLivingintheHouse, dtype: int64

In [36]:
household=[]
for n in history['numberofIndividualsLivingintheHouse']:
    n = str(n).lower()
    try:
        household.append(int(n))
    except:
        try: 
            household.append(int(n[:2]))
        except:
            try:
                household.append(int(n[:1]))
            except:
                if 'una' in n or 'uno' in n:
                    household.append(1)
                elif 'dos' in n:
                    household.append(2)
                elif 'tres' in n:
                    household.append(3)
                elif 'cuatro' in n:
                    household.append(4)
                elif 'nan' in n or 'none' in n:
                    household.append(4) #manually calculated median
                else: 
                    household.append(4) #manually calculated median
pd.Series(household).value_counts()
history['numberofIndividualsLivingintheHouse'] = household

In [37]:
history['numberofChildrenLivinginHouseUndertheAgeof5'].value_counts()[:20]

1                                1542
0                                1525
2                                 542
No hay                            258
3                                 139
Si                                 99
Dos niños                          92
Uno                                64
Si una                             39
                                   39
Uno                                30
4                                  30
No hay niños menores de 5años      27
5                                  20
Una                                12
Una niña                           12
O                                  11
Ninguno                            10
1 pero tiene 6 años                 7
Dos                                 6
Name: numberofChildrenLivinginHouseUndertheAgeof5, dtype: int64

In [38]:
kids = []
for n in history['numberofChildrenLivinginHouseUndertheAgeof5']:
    n = str(n).lower()
    try:
        kids.append(int(n))
    except:
        try: 
            kids.append(int(n[:2]))
        except:
            try:
                kids.append(int(n[:1]))
            except:
                if 'una' in n or 'uno' in n:
                    kids.append(1)
                elif 'dos' in n:
                    kids.append(2)
                elif 'tres' in n:
                    kids.append(3)
                elif 'cuatro' in n:
                    kids.append(4)
                elif 'nan' in n or 'none' in n:
                    kids.append(0)
                else: 
                    kids.append(0)
pd.Series(kids).value_counts()
history['numberofChildrenLivinginHouseUndertheAgeof5'] = kids

In [39]:
history['houseownership'].value_counts()

owned     4973
rented    2260
Name: houseownership, dtype: int64

In [40]:
history['bathroomAccess'].value_counts()

Y    3049
N     574
Name: bathroomAccess, dtype: int64

In [41]:
history['stoveType'].value_counts()

stoveTop                   2532
cementStove-Ventilation     230
openfire-noVentilation       55
Name: stoveType, dtype: int64

In [42]:
history.drop(['createdAt','updatedAt'], axis=1, inplace=True)

In [43]:
history.columns

Index(['objectId', 'yearsLivedinthecommunity', 'yearsLivedinThisHouse',
       'waterAccess', 'typeofWaterdoyoudrink', 'latrineAccess', 'clinicAccess',
       'conditionoFloorinyourhouse', 'conditionoRoofinyourhouse',
       'medicalproblemswheredoyougo', 'dentalproblemswheredoyougo',
       'biggestproblemofcommunity', 'timesperweektrashcollected',
       'wheretrashleftbetweenpickups', 'numberofIndividualsLivingintheHouse',
       'numberofChildrenLivinginHouseUndertheAgeof5', 'houseownership',
       'bathroomAccess', 'stoveType', 'latitude', 'longitude'],
      dtype='object')

In [44]:
history

,objectId,yearsLivedinthecommunity,yearsLivedinThisHouse,waterAccess,typeofWaterdoyoudrink,latrineAccess,clinicAccess,conditionoFloorinyourhouse,conditionoRoofinyourhouse,medicalproblemswheredoyougo,...,biggestproblemofcommunity,timesperweektrashcollected,wheretrashleftbetweenpickups,numberofIndividualsLivingintheHouse,numberofChildrenLivinginHouseUndertheAgeof5,houseownership,bathroomAccess,stoveType,latitude,longitude
0,Psto9poSCx,1-2,1-2,None,None,None,None,None,None,Other,...,Other,0,other,4,0,NaN,NaN,NaN,0,0
0,y6DJO1kLFl,lessThan1,lessThan1,None,None,None,None,None,None,Other,...,Other,0,other,4,0,NaN,NaN,NaN,0,0
0,sdPbSYrGCW,5-10,5-10,2-3AWeek,bottled,Y,Y,cementPoor,poor,Other Hospital,...,Water,2,street,4,0,NaN,NaN,NaN,0,0
0,GiArohoFUo,moreThan10,moreThan10,2-3AWeek,tap,Y,Y,cementWorking,None,Other,...,Other,3,other,4,0,NaN,NaN,NaN,0,0
0,rnNw8AxEix,moreThan10,moreThan10,4-6AWeek,bottled,Y,Y,cementWorking,working,Other Hospital,...,Water,2,other,4,0,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,uKN9cHxFDl,5_10,lessThan1,Never,bottled,None,Y,cementWorking,working,Other Hospital,...,Water,1,street,5,1,owned,Y,stoveTop,0,0
0,pmE94lhtoq,5_10,lessThan1,Never,bottled,None,Y,cementWorking,working,Other Hospital,...,Water,1,street,2,0,rented,Y,stoveTop,0,0
0,Tn1ljw7wVy,5_10,5_10,Never,bottled,None,Y,cementWorking,working,Clinic,...,Water,2,street,4,2,owned,Y,stoveTop,0,0
0,Tn1ljw7wVy,5_10,5_10,Never,bottled,None,Y,cementWorking,working,Clinic,...,Water,2,street,4,2,owned,Y,stoveTop,0,0
0,QpmL0Z6uFm,1_2,1_2,Never,bottled,None,Y,cementWorking,working,Other Hospital,...,Water,1,outside house,4,2,owned,Y,stoveTop,0,0

In [45]:
history['latitude'].value_counts()

0    7546
Name: latitude, dtype: int64

In [46]:
history['longitude'].value_counts()

0    7546
Name: longitude, dtype: int64

In [47]:
history.drop(['latitude','longitude'], axis=1, inplace=True)

In [48]:
dummycopy = history.select_dtypes(exclude=[np.number]).copy()
obj_id_col = dummycopy['objectId']
dummycopy = dummycopy.drop('objectId',axis=1)

In [49]:
dummies = pd.get_dummies(dummycopy)
dummies = dummies.reset_index()
dummies

,index,yearsLivedinthecommunity_1-2,yearsLivedinthecommunity_1_2,yearsLivedinthecommunity_3-4,yearsLivedinthecommunity_3_4,yearsLivedinthecommunity_5-10,yearsLivedinthecommunity_5_10,yearsLivedinthecommunity_lessThan1,yearsLivedinthecommunity_moreThan10,yearsLivedinThisHouse_1-2,...,wheretrashleftbetweenpickups_outside house,wheretrashleftbetweenpickups_sidewalk,wheretrashleftbetweenpickups_street,houseownership_owned,houseownership_rented,bathroomAccess_N,bathroomAccess_Y,stoveType_cementStove-Ventilation,stoveType_openfire-noVentilation,stoveType_stoveTop
0,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7541,0,0,0,0,0,0,1,0,0,0,...,0,0,1,1,0,0,1,0,0,1
7542,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,1,0,1,0,0,1
7543,0,0,0,0,0,0,1,0,0,0,...,0,0,1,1,0,0,1,0,0,1
7544,0,0,0,0,0,0,1,0,0,0,...,0,0,1,1,0,0,1,0,0,1
7545,0,0,1,0,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,1

In [50]:
numeric = history.select_dtypes(include=[np.number])
numeric = numeric.reset_index()
numeric

,index,numberofIndividualsLivingintheHouse,numberofChildrenLivinginHouseUndertheAgeof5
0,0,4,0
1,0,4,0
2,0,4,0
3,0,4,0
4,0,4,0
...,...,...,...
7541,0,5,1
7542,0,2,0
7543,0,4,2
7544,0,4,2
7545,0,4,2

In [51]:
master = obj_id_col.to_frame().reset_index().merge(numeric,how='outer',left_index=True, right_index=True).merge(dummies,how='outer', left_index=True, right_index=True)
master

,index_x,objectId,index_y,numberofIndividualsLivingintheHouse,numberofChildrenLivinginHouseUndertheAgeof5,index,yearsLivedinthecommunity_1-2,yearsLivedinthecommunity_1_2,yearsLivedinthecommunity_3-4,yearsLivedinthecommunity_3_4,...,wheretrashleftbetweenpickups_outside house,wheretrashleftbetweenpickups_sidewalk,wheretrashleftbetweenpickups_street,houseownership_owned,houseownership_rented,bathroomAccess_N,bathroomAccess_Y,stoveType_cementStove-Ventilation,stoveType_openfire-noVentilation,stoveType_stoveTop
0,0,Psto9poSCx,0,4,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,y6DJO1kLFl,0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,sdPbSYrGCW,0,4,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,0,GiArohoFUo,0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,rnNw8AxEix,0,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7541,0,uKN9cHxFDl,0,5,1,0,0,0,0,0,...,0,0,1,1,0,0,1,0,0,1
7542,0,pmE94lhtoq,0,2,0,0,0,0,0,0,...,0,0,1,0,1,0,1,0,0,1
7543,0,Tn1ljw7wVy,0,4,2,0,0,0,0,0,...,0,0,1,1,0,0,1,0,0,1
7544,0,Tn1ljw7wVy,0,4,2,0,0,0,0,0,...,0,0,1,1,0,0,1,0,0,1
7545,0,QpmL0Z6uFm,0,4,2,0,0,1,0,0,...,1,0,0,1,0,0,1,0,0,1

In [52]:
master.drop(['index_x','index_y','index'],axis=1,inplace=True)

In [53]:
master

,objectId,numberofIndividualsLivingintheHouse,numberofChildrenLivinginHouseUndertheAgeof5,yearsLivedinthecommunity_1-2,yearsLivedinthecommunity_1_2,yearsLivedinthecommunity_3-4,yearsLivedinthecommunity_3_4,yearsLivedinthecommunity_5-10,yearsLivedinthecommunity_5_10,yearsLivedinthecommunity_lessThan1,...,wheretrashleftbetweenpickups_outside house,wheretrashleftbetweenpickups_sidewalk,wheretrashleftbetweenpickups_street,houseownership_owned,houseownership_rented,bathroomAccess_N,bathroomAccess_Y,stoveType_cementStove-Ventilation,stoveType_openfire-noVentilation,stoveType_stoveTop
0,Psto9poSCx,4,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,y6DJO1kLFl,4,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,sdPbSYrGCW,4,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
3,GiArohoFUo,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,rnNw8AxEix,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7541,uKN9cHxFDl,5,1,0,0,0,0,0,1,0,...,0,0,1,1,0,0,1,0,0,1
7542,pmE94lhtoq,2,0,0,0,0,0,0,1,0,...,0,0,1,0,1,0,1,0,0,1
7543,Tn1ljw7wVy,4,2,0,0,0,0,0,1,0,...,0,0,1,1,0,0,1,0,0,1
7544,Tn1ljw7wVy,4,2,0,0,0,0,0,1,0,...,0,0,1,1,0,0,1,0,0,1
7545,QpmL0Z6uFm,4,2,0,1,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,1

In [54]:
master.to_csv('historyenv.csv')